@import 'node_modules/govuk-frontend/dist/govuk/base';

.grid-row {
  @include govuk-clearfix;
  margin-right: -($govuk-gutter-half);
  margin-left: -($govuk-gutter-half);
}

.grid-row-flex {
  display: flex;
}

.grid-row-flex--from-tablet {
  @include govuk-media-query(tablet) {
    display: flex;
  }
}
