@import 'node_modules/govuk-frontend/dist/govuk/base';

.language-list {
  float: right;
  margin-top: 1em;
  text-align: right;
  list-style: none;
  display: block;
  padding: 0;
}
.language-list li {
  float: left;
  &:last-child {
    padding-left: 1rem;
    border-left: 0.1rem solid $govuk-input-border-colour;
    margin-left: 1rem;
  }
}
.language-list {
  span,
  a {
    font-size: 1.1875rem;
    font-family: 'GDS Transport', arial, sans-serif;
  }
}
