@import 'node_modules/govuk-frontend/dist/govuk/base';

.card {
  box-sizing: border-box;
  padding: 15px;
  background-color: govuk-colour('light-grey');
  display: block;
  height: 100%;
  text-decoration: none;
  border: 1px solid $govuk-border-colour;
  margin-bottom: 20px;
  &:hover {
    background-color: $govuk-link-colour;
    border-color: $govuk-link-colour;
    * {
      color: #fff;
    }
  }
  &:focus {
    @include govuk-focused-text;
    border-color: transparent;
    * {
      color: inherit;
    }
  }
  @include govuk-media-query(tablet) {
    padding: 20px;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.card-title {
  color: $govuk-link-colour;
  margin: 0 0 10px;
  text-decoration: none;
  @include govuk-media-query(tablet) {
    min-height: 3em;
    font-size: 1.3rem;
  }
}
